.ag-theme-quartz{
    --ag-background-color: rgb(165, 166, 170);
    --ag-header-background-color: rgb(134, 168, 71);
    --ag-row-hover-color: rgb(129, 139, 139);
    --ag-foreground-color: rgb(1, 7, 5);

    font-size: 20px;





}   


